/*@charset "UTF-8";*/
/*css ³õÊ¼»¯ */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img,input{ margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }   /*È¥µôinputµÈ¾Û½¹Ê±µÄÀ¶É«±ß¿ò*/
ul, ol { list-style:none; }
/*input { padding-top:0; padding-bottom:0; font-family: "SimSun","ËÎÌå";}*/
select, input { vertical-align:middle;}
/*select, input, textarea { font-size:12px; margin:0; }*/
/*textarea { resize:none; } /*·ÀÖ¹ÍÏ¶¯*/*/
img {border:0; vertical-align:middle; }  
/*  È¥µôÍ¼Æ¬µÍ²âÄ¬ÈÏµÄ3ÏñËØ¿Õ°×·ìÏ¶£¬»òÕßÓÃdisplay£ºblockÒ²¿ÉÒÔ*/
table { border-collapse:collapse; }


/*Ìí¼Ó¹«¹²ÑùÊ½*/
/*body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}*/
.clearfix:before,.clearfix:after {  /*Çå³þ¸¡¶¯*/
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none; }
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:1em;}  /*ÉèÖÃh±êÇ©µÄ´óÐ¡£¬ÉèÖÃ¸ú¸¸Ç×Ò»Ñù´óµÄ×ÖÌåfont-size:100%;*/
s,i,em{font-style:normal;text-decoration:none;}


/*¹«¹²Àà*/
.container {  /*°æÐÄ ÌáÈ¡ */
    width: 1000px;
    margin:0 auto;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.al {
    text-align:left;
}
.ac {
    text-align:center;
}
.ar {
    text-align:right;
}
.hide {
    display:none;
}
.font12{ font-size: 12px;}
.font14{ font-size: 14px;}
.font16{ font-size: 16px;}

/*¹«¹²²¿·Ö*/
.wolong{
    width: 100%;
    height: 3000px;
}
/*Í·²¿µ¼º½¿ªÊ¼*/
#head{
    width: 100%;
    height: 100px;
    background: #fff;
}
#head .container{
    height: 100px;
}
#head h1{
    width: 270px;
    height: 100px;
    background:url("../images/logo.jpg");
    text-indent:-10000px;
}
#head .head_r{
    width: 247px;
    height: 60px;
    padding-top: 40px;

}
#head .head_r input{
    width: 212px;
    height: 28px;
    border:1px solid #E6E6E6;
    padding-left: 15px;
    color:#858585;
    /*background-image:url("../images/head1.jpg");
    background-repeat:no-repeat;
    background-position:right center;*/
    background:url("../images/head1.jpg") no-repeat right center;
    background-color:#F1F1F1;
}
/*-------------------nav-----------*/
#nav{
    width: 100%;
    height: 58px;
    background: #4A4A4A;
}
#nav .container{
    height: 58px;
}
#nav ul{
    height: 58px;
    padding-left: 27px;
}
#nav ul li{
    float: left;
}
#nav ul li a{
    /*设置成块级元素*/
    display:block;
    width: 118px;
    height: 58px;
    /*文本在容器中水平居中*/
    text-align:center;
    line-height: 58px;
    color:#F5F5F5;
}

